@tailwind base;
@tailwind components;
@tailwind utilities;

.mcp-bg-primary {
    background-color: #3B71CA;
}

.mcp-bg-warning {
    background-color: #E4A11C;
}

.mcp-bg-success {
    background-color: #15A44D;
}

.mcp-btn-secondary {
    background-color: #E3EBF7;
    color: #285192;
}

.red-bg {
    background-color: red;
}

.my-border {
    border: 1px solid #ccc;
}