@tailwind base;
@tailwind components;
@tailwind utilities;


.mcp-90-percentage {
    width: 90%;
}

.mcp-35-percentage {
    width: 35%;
}

.mcp-40-percentage {
    width: 40%;
}

.mcp-60-percentage {
    width: 60%;
}

.mcp-bg-percentage {
    background-color: #E5E5E5;
}

